*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    line-height: 1.5;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}


body {
    min-height: 100vh;
    background: linear-gradient(
        to top,
        var(--light-pink) 0%,
        var(--light-pink) 70%,
        var(--dark-purple) 0%,
        var(--dark-purple) 100%
    );
    display: grid;
    place-items: center;
}

main {
    background-color: var(--white);
    width: 40rem;
    height: 38rem;
    border-radius: 2%;
    padding: 2rem;
}



.presentation-FAQS {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.accordion-content-title {
    cursor: pointer;
}

.accordion-content {
    background-color: var(--white);
    text-align: left;
    margin-top: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.accordion-content-description{ 
    height: 0;
    color: grey; 
    font-weight: 400; 
    
}

.accordion-content-description.is-open{ 
    height: auto;
}

.header-FAQS {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.svg-point {
    cursor: pointer;
}

.line-break {
    border: 1px solid #F5F5F5;
    margin: 1rem 0;
}